In [1]:
from get_data import GetData

In [2]:
username = "akpa2888"
password = "fi5m!iRYRuj473X"
test_obj = GetData(username, password)

In [ ]:
https://opensky-network.org/api/flights/aircraft?icao24=3c675a&begin=1517184000&end=1517270400
    
https://opensky-network.org/api/flights/aircraft?icao24=3c675a&begin=1517184000&end=1517270400

In [4]:
s = test_obj.get_flights_by_aircraft(icao24="3c675a", begin=1517184000, end=1517270400)

Querying url -  https://opensky-network.org/api/flights/aircraft?icao24=3c675a&begin=1517184000&end=1517270400

In [16]:
len(s.json()['states'])

5634

In [17]:
response = s.json()['states']

In [25]:
import pandas as pd

In [26]:
pd.DataFrame(response)

          0         1              2             3           4         5   ...    11    12        13    14     15  16
0     ab1644  UAL1858   United States  1.698537e+09  1698536775  -90.8686  ...  0.00  None  11658.60  2442  False   0
1     a2e5ec  SKW3679   United States  1.698537e+09  1698536775 -121.1960  ...  0.00  None   9342.12  None  False   0
2     7c6b2f  JST458        Australia  1.698537e+09  1698536775  152.2169  ...  0.33  None  10317.48  1377  False   0
3     7c6b2d  JST256        Australia  1.698537e+09  1698536774  174.7737  ...  2.93  None   8816.34  None  False   0
4     ade18c  AAL1322   United States  1.698537e+09  1698536689 -101.3360  ...  0.00  None   9456.42  None  False   0
...      ...       ...            ...           ...         ...       ...  ...   ...   ...       ...   ...    ...  ..
5629  a9bc8a  N7262X    United States  1.698537e+09  1698536768  -83.1592  ... -0.33  None   1196.34  None  False   0
5630  a05dbc  UAL2075   United States  1.698537e+09  1698536775  -98.9495  ...  0.33  None  11910.06  None  False   0
5631  a09a01  N138ME    United States  1.698537e+09  1698536766 -120.1392  ... -0.65  None   2598.42  None  False   0
5632  a60bbd  DPJ489    United States  1.698537e+09  1698536775  -80.2137  ... -7.80  None   2522.22  0035  False   0
5633  c00734  WJA735           Canada  1.698537e+09  1698536775 -108.4198  ... -0.33  None  10607.04  None  False   0

[5634 rows x 17 columns]

In [23]:
len(response[0])

17